.hero-social{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    padding:5px;
    background: #fff;
}
@media (max-width: 992px) {
    .hero-social{
        display: none;
    }
}
.hero-social a{
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
    color: #111;
    display: block;
    transition: 0.3s;
}
@media (max-width: 1200px){
    .hero-social a{
        padding: 9px;
    }
}
.hero-social a:hover{
    background: rgba(120, 68, 233, 0.2);
}
.hero-social a img{
    height: 30px;
    width: 30px;
}
@media (max-width: 1200px){
    .hero-social a img{
        height: 28px;
        width: 28px;
    }
}